body{
    margin:0px;
    display:none;
}
.bodySign{
    display:block;
}
.bodyNoneData{
    display:flex;           /*設置footer可適時填充頁面*/
    flex-direction:column;
    height:100vh;           /*可視區高度100%，1vh= 可視區高度/100 */
}
/* nav */
nav{
    background-color:#ffffff;
    position:fixed;     /*設定凍結視窗(整個nav物件)*/
    top:0px;            /*置頂*/
    width:100%;
    z-index:2;        /*設定z軸高度避免凍結視窗內容被body內其他物件覆蓋*/
    border-bottom:1px solid #E8E8E8;    /*設定物件底線樣式*/
}
#hyperLink{
    color:inherit;          /*繼承原本的文字顏色(不因超連結變色)*/
    text-decoration:none;   /*消除超連結底線*/
}
.nav{
    height:34px;
    display:flex;
    align-items:center; /*子物件在容器內對齊中線*/
    margin-left:auto;   /*容器在body水平置中*/
    margin-right:auto;  /*容器在body水平置中*/
    margin-top:10px;
    margin-bottom:10px;
}
.navLeftside{
    height:100%;
    flex:none;          /*none表不彈性縮放，要給width*/
    width:150px;
    margin:10px;
    font-family:"Noto Sans";
    font-weight:bold;
    font-size:30px;
    line-height:113%;   /*等同113% font-size*/
    color:#448899;
    display:flex;       /*文字在容器內垂直置中*/
    align-items:center;
}
.navRightside{
    height:100%;
    flex:auto;                         /*auto表彈性縮放，不用給width*/
    list-style:none;                   /*消除li的點*/
    padding-inline-start:0px;          /*消除li的前縮排*/
    display:flex;
    justify-content:flex-end;          /*物件在容器內水平靠右排列*/
    align-items:center;                /*物件在容器內垂置置中*/   
}
.navRightside>li{
    flex:none;
    padding:10px;                  /*上下左右都向內縮10px*/
    font-family:"Noto Sans TC";
    font-size:16px;
    line-height:83%;               /*等同83% font-size*/
    color:#666666;
    cursor:pointer;                /*改變滑鼠指標*/
}
/* main */
/* main */
.mainContainer{
    margin-left:auto;
    margin-right:auto;
    margin-top:94px;        /*避免物件被freeze視窗遮擋(54px) 上外邊界40px*/
    margin-bottom:40px;     /*下外邊界40px*/
    display:flex;
    justify-content:center; /*子物件水平置中*/
    flex-wrap:wrap;         /*子物件換行*/
}
.welcomeTitle{
    font-family:"Noto Sans TC";
    font-weight:bold;
    font-size:19px;
    line-height:150%;
    color:#666666;
    margin-bottom:30px;     /*下外邊界30px*/
}
/* main Attraction Profile */
.attractionProfile{
    padding:0px 10px;   /*左右內縮10px*/
    display:flex;
}
.nullText{
    font-family:"Noto Sans TC";
    font-size:16px;
    color:#666666;
}
.image{
    flex:none;
    width:250px;
    height:200px;
    object-fit:cover;
    object-position:center;
}
.profile{
    position:relative;          /*將容器層當作基準元素，給刪除按鈕擺放位置參考*/
    flex:auto;
    margin-left:30px;
    font-family:"Noto Sans TC";
    font-size:16px;
    line-height:150%;
}
.title{
    font-weight:bold;
    color:#448899;
    display:flex;
    align-items:center;     /*文字垂直向置中*/
    flex-wrap:wrap;
}
.subTitle{
    margin:20px 0px;
    font-weight:bold;
    color:#666666;
}
.subTitleContent{
    font-weight:normal;
}
.contactContainer{
    padding:40px 0px;  /*上下內邊界40px*/
    border-top:1px solid #E8E8E8;  /*上框邊線*/
    margin-left:auto;
    margin-right:auto;
    font-family:"Noto Sans TC";
    color:#666666;
}
.remindText{
    line-height:150%;
}
/* footer */
footer{
    flex:auto;
    min-height:104px;
    background-color:#757575;
    display:flex;                   /*讓子物件水平置中*/
    justify-content:center;
}
.footerContent{
    font-family:"Noto Sans TC";
    font-weight:bold;
    font-size:16px;
    line-height:100%;
    color:#FFFFFF;
    margin-top:45px;            /*上外邊界45px*/
}
@media (min-width:1200px){
    .nav, .mainContainer{
        width:1200px;
    }
    .mainSubContainer, .contactContainer{
        width:1000px;
    }
}
@media (max-width:1200px){
    .mainContainer{
        margin:94px 0 40px 0;       /*消除left right: auto*/
    }
    .mainSubContainer, .contactContainer{
        width:95%;
    }
}
@media (max-width:600px){
    .image{
        width:100%;
    }
    .profile{
        margin:30px 0 0 0;
    }    
    .attractionProfile{
        padding:0px;        /*取消左右邊界10px*/
        flex-wrap:wrap;
    }
}